# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sundone/node_modules
/backend/node_modules
/backend/.env
/sundone/.pnp
/sundone.pnp.js

# testing
/sundone/coverage

# production
/sundone/build

# misc
/sundone/.DS_Store
/sundone/.env.local
/sundone/.env.development.local
/sundone/.env.test.local
/sundone/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
