# Ignore Node.js dependencies
sundone/node_modules/
backend/node_modules/

# Environment variables
sundone/.env
backend/.env

# Build files
sundone/dist/
backend/dist/

# OS & Editor-specific files
.DS_Store
.vscode/
Cmp.rar
Cmp.rar
